
    .homePageinfo{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        padding: 50px 0px;
        background-color: black;
        
        img{
            margin-bottom: 50px;
        }
        
        .storeOptions{
            display:flex;
            justify-content:center;
            flex-wrap: wrap;
            
            h1{
                display:flex;
                justify-content:center;
                align-items:center;
                margin: 20px;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                cursor: pointer;
                color: white;
                transition: transform 0.1s ease-in-out;
                
                
                &:hover{
                    transform: scale(0.95);
                }
            }
        }
    }
