.pokemonBackgroundCard{
    display: flex;
    justify-content: center;
    width: 16rem;
    height: 23rem;
    background-color: beige;
    margin: 20px;
    padding: 1rem;
    
    
    .pokemonCard{
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        background-color: var(--red-500);
        overflow: hidden;
        width: 100%;
        
        .imagePokemonCard{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            

            div{
                position: absolute;
                width: 80%;
                height: 80%;
                border-radius: 100%;
                top:20%;
                background-color: var(--red-300);
            }

            img{
                height: 200px;
                z-index: 2;
            }
        }
        
        
        .pokemonInfo{
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            padding: 10px;
            width: 100%;
            height: 80px;
            color: var(--white);
            
            i{
                position: absolute;
                right: -10px;
                bottom: -20px;
                transform: translateY(-50%);
                font-size: 1.5rem;
                cursor: pointer;
            }
            
            h3{
                text-transform: uppercase;
                font-size: 1rem;
            }
            
            small{
                font-size: 1.5rem;
            }
        }
        
    }
}