.basketDisplay{
    display:flex;
    position: sticky;
    top: 80px;
    justify-content:center;
    flex-direction: column;
    margin: 5px;
    width: 25em;
    padding: 20px;
    margin-top: -5px;
    background-color: #c90000;


    .headDisplay{
        background-color: var(--gray-100);
        padding: 10px;
        
        strong{
            margin-left: 10px;
        }
    }

    .footDisplay{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--gray-100);
        padding: 10px;

        button{
            padding: 6px 8px;
            border: none;
            color: var(--white);
            background-color: var(--red-500);
        }
    }

    .tableDisplay{
        background: var(--white);
        height: 400px;
        padding: 30px 10px;
        overflow-y: scroll;

        table{
            width: 20em;

            thead{

                tr {
                    text-align: center;             
                    height: 3rem;
                }
            }

            tbody{
                tr{
                    td{                
                        text-align: center;
                        width: 4rem;
                        height: 5rem;
                        span{
                            padding: 5px;
                        }
                        img{
                            width: 50px;
                        }

                        i {
                            cursor: pointer;
                        }
                    }
                }
            }
        }


    }
}

